.heading-primary {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}

.paragraph-1 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
}

.paragraph-2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
}

.paragraph-3 {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
}
