// ------------------ margin top ---------------

.u-margin-top-smallest {
  margin-top: 2;
}

.u-margin-top-small {
  margin-top: 5;
}

.u-margin-top-medium {
  margin-top: 10;
}

.u-margin-top-large {
  margin-top: 15;
}

.u-margin-top-largest {
  margin-top: 20;
}

// ------------------ margin bottom ---------------

.u-margin-bottom-smallest {
  margin-bottom: 2;
}
.u-margin-bottom-small {
  margin-bottom: 5;
}

.u-margin-bottom-medium {
  margin-bottom: 10;
}

.u-margin-bottom-large {
  margin-bottom: 15;
}

.u-margin-bottom-largest {
  margin-bottom: 20;
}

// ------------------ margin left ---------------

.u-margin-left-smallest {
  margin-left: 2;
}

.u-margin-left-small {
  margin-left: 5;
}

.u-margin-left-medium {
  margin-left: 10;
}

.u-margin-left-large {
  margin-left: 15;
}

.u-margin-left-largest {
  margin-left: 20;
}

// ------------------ margin right ---------------

.u-margin-right-smallest {
  margin-right: 2;
}

.u-margin-right-small {
  margin-right: 5;
}

.u-margin-right-medium {
  margin-right: 10;
}

.u-margin-right-large {
  margin-right: 15;
}

.u-margin-right-largest {
  margin-right: 20;
}

// ------------------ padding top -------------

.u-padding-top-smallest {
  padding-top: 2;
}

.u-padding-top-small {
  padding-top: 5;
}

.u-padding-top-medium {
  padding-top: 10;
}

.u-padding-top-large {
  padding-top: 15;
}

.u-padding-top-largest {
  padding-top: 20;
}

// -------------------- padding bottom -------------------

.u-padding-bottom-smallest {
  padding-bottom: 2;
}

.u-padding-bottom-small {
  padding-bottom: 5;
}

.u-padding-bottom-medium {
  padding-bottom: 10;
}

.u-padding-bottom-large {
  padding-bottom: 15;
}

.u-padding-bottom-largest {
  padding-bottom: 20;
}

// -------------------- padding left -------------------

.u-padding-left-smallest {
  padding-left: 2;
}

.u-padding-left-small {
  padding-left: 5;
}

.u-padding-left-medium {
  padding-left: 10;
}

.u-padding-left-large {
  padding-left: 15;
}

.u-padding-left-largest {
  padding-left: 20;
}

// -------------------- padding right -------------------

.u-padding-right-smallest {
  padding-right: 2;
}

.u-padding-right-small {
  padding-right: 5;
}

.u-padding-right-medium {
  padding-right: 10;
}

.u-padding-right-large {
  padding-right: 15;
}

.u-padding-right-largest {
  padding-right: 20;
}
