//----- COLORS ------

$color-primary: #006d77;
$color-secondary: #00afb9;
$color-tertiary: #83c5be;

$color-white: #fff;
$color-black: #000;

$font-color-1: #ffffff;
$font-color-2: #f5f3f4;

$color-grey-dark: #333333;
$color-grey-light: #e0e1dd;

// -------------------
